.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    margin-bottom: 50px;
    width: 350px;
}

.name:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fav {
    background-color: burlywood;
}

.firstC {
    text-align: center;
}
